<!DOCTYPE html>

<html lang="pt-br">

<head>

	<meta charset="utf-8">
	<title>Ern your pet</title>

	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/grid.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/sobre.css">

</head>

<body>

	<!-- Faz o cabeçalho -->

	<header class="header">
		
		<div class="container">
			<!-- Faz o cabeçalho 
			<a href="index.html" class="grid-4 logo">
				<img src="img/marca.png" alt="Pet">
			</a> -->
			<a href="index.html" class="grid-4 btn btn-header">
				<p>EYP</p>
			</a>

			<nav class="grid-12 header_menu">

				<ul>
					
					<li><a href="adotar.html">Adotar</a></li>
					<li><a href="sugestoes.html" >Doar</a></li>
					<li><a href="sobre.html" class="menu_ativo">Sobre</a></li>
					<li><a href="contato.html">Contato</a></li>

				</ul>

			</nav>

		</div>

	</header>

	<!-- Termina o cabeçalho -->
	<!-- Inicia a introdução -->

	<section class="introducao-interna interna_sobre">

		<div class="container">
			<h1>Sobre</h1>
			<p>Conheça mais sobre a iniciativa Earn Your Pet</p>

		</div>
		
	</section>

	<!-- Fecha a introdução -->

	<!-- Inicia a descrição -->

	<section class="missa_sobre container animar-interno">
		
		<div class="grid-10">
			
			<h2 class="subtitulo-interno">História, missão e visão</h2>

			<p>O projeto Eran Your Pet teve início em 2017, com o objetivo de diminuir a quantidade de animais nas ruas e semear a felicidade em várias famílias com uma nova vida, um animal de estimação.</p>
			<p>Existem diversos animais há serem doados, basta escolher um, amor não se compra.</p>

		</div>

		<div class="grid-6">
			
			<h2 class="subtitulo-interno">Valores</h2>
			<ul>
				<li>-Trabalho com foco,</li>
				<li>-na felicidade dos animais</li>
				<li>-proprorcionando a estes</li>
				<li>-a chance de uma nova vida</li>
				<li>-de um novo lar</li>
			</ul>

		</div>

		<div class="grid-16 foto-pet">

			<img src="img/sobre-img.jpg" alt="Alegria animais">

		</div>

	</section>

	<!-- Finaliza a descrição -->
	
	<!-- Inicia rodape -->

	<div class="quebra">
		
		<blockquote class="quote-externo container">

			<p>“O caminho para se conseguir a felicidade é fazendo as outras pessoas felizes.” </p>
			<cite>ROBERT BADEN-POWELL</cite>

		</blockquote>

	</div>

	<footer>

		<div class="footer">

			<div class="container">

				<div class="grid-8 footer_historia">
					<h3>Nossa História</h3>
					<p>O site foi criado com o objetivo de trazer diminuir a quantidade de animais abandonados nas ruas. Levando felicidade à vida dos animais e de suas novas famílias</p>
				</div>

				<div class="grid-4 footer_contato">
					<h3>Contato</h3>
					<ul>
						<li>-+55 032 99173-1875</li>
						<li>-earnyourpet@gmail.com</li>
						<li>-Earn Your Pet - MG</li>
					</ul>
				</div>

				<div class="grid-4 footer_redes">
					
					<h3>Redes Sociais</h3>
					
					<ul>
						
						<li><a href="http://facebook.com" target="_blank"><img src="img/icone/facebook-roxo.png" alt="Facebook Bikcraft" ></a></li>
						<li><a href="http://instagram.com" target="_blank"><img src="img/icone/instagram-roxo.png" alt="instagram Bikcraft"></a></li>
						<li><a href="http://twitter.com" target="_blank"><img src="img/icone/twitter-roxo.png" alt="Twitter Bikcraft"></a></li>
					
					</ul>

				</div>

			</div>

		</div>

		<div class="copy">
			
			<div class="container">
				<p class="grid-16">Earn Your Pet 2017 - Alguns direitos reservados</p>
			</div>
			
		</div>

	</footer>

	<!-- Final do rodapé -->


	<script src="JS/libs/jquery-1.11.2.min.js"></script>
	<script src="JS/plugins.js"></script>
	<script src="JS/main.js"></script>

</body>

</html>