{% extends 'core/index.html' %}

{% block content %}
	<!-- Inicia a introdução -->

	<section class="introducao-interna interna_sobre">

		<div class="container">
			<h1>Sobre</h1>
			<p>Conheça mais sobre a iniciativa Earn Your Pet</p>

		</div>
		
	</section>

	<!-- Fecha a introdução -->

	<!-- Inicia a descrição -->

	<section class="missa_sobre container animar-interno">
		
		<div class="grid-10">
			
			<h2 class="subtitulo-interno">História, missão e visão</h2>

			<p>O projeto Eran Your Pet teve início em 2017, com o objetivo de diminuir a quantidade de animais nas ruas e semear a felicidade em várias famílias com uma nova vida, um animal de estimação.</p>
			<p>Existem diversos animais há serem doados, basta escolher um, amor não se compra.</p>

		</div>

		<div class="grid-6">
			
			<h2 class="subtitulo-interno">Valores</h2>
			<ul>
				<li>-Trabalho com foco,</li>
				<li>-na felicidade dos animais</li>
				<li>-proprorcionando a estes</li>
				<li>-a chance de uma nova vida</li>
				<li>-de um novo lar</li>
			</ul>

		</div>

		<div class="grid-16 foto-pet">

			<img src="img/sobre-img.jpg" alt="Alegria animais">

		</div>

	</section>

	<!-- Finaliza a descrição -->
	
{% endblock %}