<!DOCTYPE html>

<html lang="pt-br">

<head>

	<meta charset="utf-8">
	<title>Ern your pet</title>

	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/grid.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/adotar.css">

</head>

<body>

	<!-- Faz o cabeçalho -->

	<header class="header">
		
		<div class="container">
			<!-- Faz o cabeçalho 
			<a href="index.html" class="grid-4 logo">
				<img src="img/marca.png" alt="Pet">
			</a> -->
			<a href="index.html" class="grid-4 btn btn-header">
				<p>EYP</p>
			</a>

			<nav class="grid-12 header_menu">

				<ul>
					
					<li><a href="sugestoes.html" class="menu_ativo">Adotar</a></li>
					<li><a href="sugestoes_2.html" >Doar</a></li>
					<li><a href="sobre.html">Sobre</a></li>
					<li><a href="contato.html">Contato</a></li>

				</ul>

			</nav>

		</div>

	</header>

	<!-- Termina o cabeçalho -->
	<!-- Inicia a introdução -->

	<section class="introducao-interna interna_adotar">

		<div class="container">
			<h1>Doações</h1>
			<p>Doe aqui um animal</p>

		</div>
		
	</section>


	<!-- Fecha a introdução -->

	<!-- Inicia a adoção -->

	<section class="animal container animar-interno">

		<h2 class="subtitulo subtitulo-adotar">Adote</h2>
		
		<form class="grid-16 animal_form">
			
			<label for="pesquisa"></label>
			<textarea name="pesquisa">Digite o animal que deseja</textarea>
		</form>

	</section>

	<!-- Fecha a adoção -->

	<!-- Inicia a modelo -->

	<section class="fotos">

		<div class="container ">
			
			<ul>
				<li class="grid-8 modelos"><img src="img/adotar/coelho.jpg"></li>
				<li class="grid-8 modelos"><img src="img/adotar/rato.jpg"></li>
				<li class="grid-16 modelos"><img src="img/adotar/husky.jpg"></li>
				<li class="grid-8 modelos"><img src="img/adotar/dog.jpg"></li>
				<li class="grid-8 modelos"><img src="img/adotar/tartaruga.jpg"></li>
				<li class="grid-16 modelos"><img src="img/adotar/cat.jpg"></li>
			</ul>
		</div>
		
	</section>

	<!-- Fecha a modelo -->

	<!-- Inicia depoimento -->

	<section class="container animar-interno">

		<ul class="rslides">

			<li>

				<blockquote class="quote_clientes">
					<p>“Quando adotei o Toby, encontrei uma felicidade que me faltava, ele completa um vazio. Amo muito”</p>
					<cite>BARBARA MOSS</cite>
				</blockquote>

			</li>

			<li>

				<blockquote class="quote_clientes">
					<p>“Adotar foi uma das melhores experiências, amor não tem raça e nem preço”</p>
					<cite>CARLOS MOSS</cite>
				</blockquote>
				
			</li>

			<li>

				<blockquote class="quote_clientes">
					<p>“Uma vida nova que se torna parte da família”</p>
					<cite>HENRIQUE ASSIS</cite>
				</blockquote>
				
			</li>

		</ul>
	</section>
	<!-- Finaliza depoimento -->
	<!-- Inicia rodape -->

	<div class="quebra">
		
		<blockquote class="quote-externo container">

			<p>“O caminho para se conseguir a felicidade é fazendo as outras pessoas felizes.” </p>
			<cite>ROBERT BADEN-POWELL</cite>

		</blockquote>

	</div>

	<footer>

		<div class="footer">

			<div class="container">

				<div class="grid-8 footer_historia">
					<h3>Nossa História</h3>
					<p>O site foi criado com o objetivo de trazer diminuir a quantidade de animais abandonados nas ruas. Levando felicidade à vida dos animais e de suas novas famílias</p>
				</div>

				<div class="grid-4 footer_contato">
					<h3>Contato</h3>
					<ul>
						<li>-+55 032 99173-1875</li>
						<li>-earnyourpet@gmail.com</li>
						<li>-Earn Your Pet - MG</li>
					</ul>
				</div>

				<div class="grid-4 footer_redes">
					
					<h3>Redes Sociais</h3>
					
					<ul>
						
						<li><a href="http://facebook.com" target="_blank"><img src="img/icone/facebook-roxo.png" alt="Facebook Bikcraft" ></a></li>
						<li><a href="http://instagram.com" target="_blank"><img src="img/icone/instagram-roxo.png" alt="instagram Bikcraft"></a></li>
						<li><a href="http://twitter.com" target="_blank"><img src="img/icone/twitter-roxo.png" alt="Twitter Bikcraft"></a></li>
					
					</ul>

				</div>

			</div>

		</div>

		<div class="copy">
			
			<div class="container">
				<p class="grid-16">Earn Your Pet 2017 - Alguns direitos reservados</p>
			</div>
			
		</div>

	</footer>

	<!-- Final do rodapé -->


	<script src="JS/libs/jquery-1.11.2.min.js"></script>
	<script src="JS/plugins.js"></script>
	<script src="JS/main.js"></script>

</body>

</html>