/* Estilos gerais */

body{
	font-family: Arial, Helvetica, sans-serif;
}

p{
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
	line-height: 20px;
}

img{
	display: block;
	max-width: 100%;
}

.btn{
	border: 3px solid #8854a1; /* Roxo */
	padding: 10px 30px;
	color: #8854a1;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1em;
	transition: all .5s ease;
}

.btn:hover{
	color: #FFF;
	border-color: #FFF;
}

.btn.btn-preto:hover{
	color: #000;
	border-color: #000;
}

/* Subtitulo interno */

.subtitulo{
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.subtitulo:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 8px auto;
}

.formphp label.nao-aparece, .formphp input.nao-aparece {
	display: none !important;
}

#form-erro span, #form-send span  {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 10px;
	display: block;
}

#form-send {
	color: #31aa39;
}

#form-erro {
	color: #f64540;
}

/* Subtitulo interno */

.subtitulo-interno{
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 60px;
}

.subtitulo-interno:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 8px 0;
}

/* Header */

.header{
	position: fixed;
	top: 0;
	width: 100%;
	background: #000; 
	padding: 15px 0;
	z-index: 10;
}

.header_menu{
	text-align: right; 
}

.header_menu ul li{
	display: inline-block;
	margin-left: 25px;
	margin-top: 10px;
}

.header_menu ul li a{
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0;
	transition: all .3s ease;
}

.header_menu ul li a:hover {
	color: #8854a1;
}

.header .btn{
	border: 3px solid #8854a1;
	width: 15%;
}

.header .btn:hover{
	border-color: #FFF;
}

.header .btn p{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin: 0 auto;
}

.header_menu ul li a.menu_ativo{
	color: #8854a1;
}

/* Introdução */

.introducao{
	width: 100%;
	height: 380px;
	background: url("../img/bg-index.jpg") no-repeat center;
	background-size: cover;
	margin-top: 76px;
	text-align: center;
	padding-top: 80px;
}

.introducao h1{
	font-size: 48px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
}

.quote-externo{
	max-width: 360px;
	margin: 0 auto;
	margin-bottom: 40px;
	color: #000;
}

.quote-externo p{
	font-style: italic;
}

.quote-externo p:before, .quote-externo p:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 14px auto 10px auto;
}

.quote-externo cite{
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: .1em; 
}

/* Introdução interna */

.introducao-interna{
	width: 100%;
	margin-top: 92px;
	height: 160px;
	text-align: center;
	color: #FFF;
	padding-top: 30px;
}

.introducao-interna h1{
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

.introducao-interna h1:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #FFF;
	margin: 6px auto 10px auto;
}

/* Doar */

.doar{
	padding: 50px 0;
}

.doar_lista li{
	height: 100px;
	text-align: center;
}

.doar_lista li img{
	margin: 0 auto;
}

.doar_lista li h3:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 2px auto;
}

.doar_img{
	height: 305px;
}

.doar_p{
	padding-top: 150px;
	font-size: 18px;
	height: 305px;
}

.conto_branca_de_neve{
	background: url("../img/bg_branca.jpg") no-repeat center;
}

.descricao{
	text-align: center;
	font-size: 18px;
}

.segundo{
	padding-top: 280px;
}

.terceiro{
	padding-top: 330px;
}

.call{
	text-align: center;
	padding-top: 60px;
	clear: both;
}

.call p{
	margin-bottom: 25px;
}

/* Adotar */

.fotos{
	width: 100%;
	background: #000;
	padding: 40px 0;
}

.fotos .subtitulo{
	color: #8854a1;
}

.fotos .subtitulo:after{
	background: #8854a1;
}

.fotos_lista div:last-of-type{
	margin-top: 20px;
}

.fotos .call{
	margin-bottom: 60px;
}

.fotos .call p{
	color: #FFF;
	margin-bottom: 25px;
}

/* Quebra */


.quebra{
	width: 100%;
	height: 220px;
	background: url("../img/bg-footer.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
	padding-top: 60px;
}

.quebra .quote-externo{
	max-width: 400px;
}

/* Footer */

.footer{
	width: 100%;
	background: #000;
	color: #fff;
	padding: 20px;
}

.footer h3{
	font-size: 18px;
	line-height: 25px;
	font-weight: bold;
	color: #8854a1;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.footer h3:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #8854a1;
	margin: 6px 0 12px 0;
}

.footer_hisrotia{
	padding-right: 40px;
}

.footer_contato ul li{
	font-size: 14px;
	line-height: 20px;
	font-family: Georgia, "Times New Roman", serif;
}

.footer_redes ul li{
	display: inline-block;
	margin-right: 10px;
}

.footer_redes ul li a{
	border: 3px solid #8854a1;
	display: block;
	padding: 10px;
	transition: all .5s ease;
}

.footer_redes ul li a:hover{
	border-color: #fff;
}

.copy{
	width: 100%;
	background: #8854a1;
	padding: 20px 0;
}

/* Animação JS */

.rslides, .rslides_portfolio {
	position: relative;
	list-style: none;
	overflow: hidden;	 
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides li, .rslides_portfolio li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child, .rslides_portfolio li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img, .rslides_portfolio img {
	display: block;
	height: auto;
	width: 100%;
	border: 0;
}

/* estilizando os ícones da transição */

.rslides_tabs{
	text-align: center;
	margin-top: 14px;
}

.rslides_tabs li{
	display: inline;
	margin: 0 5px;
}

/*hr {
    width: 90%;
    border: 0;
    height: 1px;
    background: #000;
    opacity: 0.2;
}*/

.rslides_tabs li a{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #1d1d1d;
	color: #1d1d1d;
	border-radius: 20px;
	overflow: hidden;
	text-indent: -200px;
}

.rslides_tabs li a:hover, .rslides_tabs li.rslides_here a{
	background: #8854a1;
	color: #8854a1;
}
